# ignore ipython notebook checkpoint files
# and macOS metadata files
.ipynb_checkpoints/
.DS_Store

# ignore assets folder
assets/

# ignore excel data files
*.xlsx

# exclude cached python3 files
__pycache__
